{% extends 'base.html' %}
<title>{% block title %}Yoogi | Register {% endblock title %}</title>  
{% block content %}
<div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
    <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
            <h1 class="h2">Sign Up </h1>
            <p>Fill out the form below to create an account.</p>
        </div>
        <!-- End Heading -->

        <!-- Form -->
        <form class="js-validate needs-validation" method="post" action="{% url 'sign-up' %}" novalidate>
            {% csrf_token %}
            <!-- Form -->
            <div class="mb-3">
                <label class="form-label" for="signupSimpleSignupEmail">Your Email</label>
                <input type="email" class="form-control form-control-lg text-center" name="email" id="signupSimpleSignupEmail"
                    placeholder="email@site.com" aria-label="email@site.com" required>
                <span class="invalid-feedback">Please enter a valid email address.</span>
            </div>
            <!-- End Form -->

            <!-- Form -->
            <div class="mb-3">
                <label class="form-label" for="signupSimpleSignupPassword">Password</label>

                <div class="input-group input-group-merge" data-hs-validation-validate-class>
                    <input type="password" class="js-toggle-password form-control form-control-lg text-center" name="password1"
                        id="signupSimpleSignupPassword" placeholder="8+ characters required" aria-label="8+ characters required"
                        required data-hs-toggle-password-options='{
                        "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                        "defaultClass": "bi-eye-slash",
                        "showClass": "bi-eye",
                        "classChangeTarget": ".js-toggle-passowrd-show-icon-1"
                    }'>
                    <a class="js-toggle-password-target-1 input-group-append input-group-text" href="javascript:;">
                        <i class="js-toggle-passowrd-show-icon-1 bi-eye"></i>
                    </a>
                </div>

                <span class="invalid-feedback">Your password is invalid. Please try again.</span>
            </div>
            <!-- End Form -->

            <!-- Form -->
            <div class="mb-3">
                <label class="form-label" for="signupSimpleSignupConfirmPassword">Confirm Password</label>

                <div class="input-group input-group-merge" data-hs-validation-validate-class>
                    <input type="password" class="js-toggle-password form-control form-control-lg text-center" name="password2"
                        id="signupSimpleSignupConfirmPassword" placeholder="8+ characters required"
                        aria-label="8+ characters required" required
                        data-hs-validation-equal-field="#signupSimpleSignupPassword" data-hs-toggle-password-options='{
                        "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                        "defaultClass": "bi-eye-slash",
                        "showClass": "bi-eye",
                        "classChangeTarget": ".js-toggle-passowrd-show-icon-2"
                    }'>
                    <a class="js-toggle-password-target-2 input-group-append input-group-text" href="javascript:;">
                        <i class="js-toggle-passowrd-show-icon-2 bi-eye"></i>
                    </a>
                </div>

                <span class="invalid-feedback">Password does not match the confirmation.</span>
            </div>
            <!-- End Form -->

            <!-- Check -->
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="signupHeroFormPrivacyCheck"
                    name="signupFormPrivacyCheck" required>
                <label class="form-check-label small" for="signupHeroFormPrivacyCheck">
                    By submitting this form, I have read and agree to the <a href="#">Privacy Policy</a>.
                </label>
                <span class="invalid-feedback">Please accept our privacy policy.</span>
            </div>
            <!-- End Check -->

            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
            </div>

            <div class="text-center">
                <p>Already have an account? <a class="link" href="{% url 'login' %}">Log in here</a></p>
            </div>
            {{ form.captcha }}
        </form>
        <!-- End Form -->
    </div>
</div>
{% endblock content %}

{% block extera-js %}
<script>
    // INITIALIZATION OF TOGGLE PASSWORD
    // =======================================================
    new HSTogglePassword('.js-toggle-password')
</script>
{% endblock extera-js %}