{% extends "base.html" %}
{% load static %}
<title>{% block title %}Yoogi | about {% endblock title %}</title>  
{% block content %}
    <!-- Gallery -->
    <div class="container content-space-t-3 content-space-t-lg-5">
      <div class="w-lg-75 text-center mx-lg-auto">
        <!-- Heading -->
        <div class="mb-5 mb-md-10">
          <h1 class="display-4">About Us</h1>
          <p class="lead">Front is a web company that builds websites. Businesses of all sizes - from new startups to public companies - use our theme to build and manage their business online.</p>
        </div>
        <!-- End Heading -->
      </div>

      <div class="row gx-3">
        <div class="col mb-3">
          <div class="bg-img-start" style="background-image: url({% static 'img/480x320/img17.jpg' %}); height: 15rem;"></div>
        </div>
        <!-- End Col -->

        <div class="col-3 d-none d-md-block mb-3">
          <div class="bg-img-start" style="background-image: url({% static 'img/480x320/img6.jpg' %}); height: 15rem;"></div>
        </div>
        <!-- End Col -->

        <div class="col mb-3">
          <div class="bg-img-start" style="background-image: url({% static 'img/480x320/img14.jpg' %}); height: 15rem;"></div>
        </div>
        <!-- End Col -->

        <div class="w-100"></div>

        <div class="col mb-3 mb-md-0">
          <div class="bg-img-start" style="background-image: url({% static 'img/480x320/img25.jpg' %}); height: 15rem;"></div>
        </div>
        <!-- End Col -->

        <div class="col-4 d-none d-md-block mb-3 mb-md-0">
          <div class="bg-img-start" style="background-image: url({% static 'img/480x320/img16.jpg' %}); height: 15rem;"></div>
        </div>
        <!-- End Col -->

        <div class="col">
          <div class="bg-img-start" style="background-image: url({% static 'img/480x320/img12.jpg' %}); height: 15rem;"></div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Gallery -->

    <!-- Feature Stats -->
    <div class="container content-space-2 content-space-lg-3">
      <div class="row justify-content-lg-center">
        <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0">
          <div class="text-center">
            <h2 class="display-4">7</h2>
            <p class="small">Years in Business</p>
          </div>
        </div>
        <!-- End Col -->

        <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0">
          <div class="text-center">
            <h2 class="display-4">3.5k+</h2>
            <p class="small">Copies Sold</p>
          </div>
        </div>
        <!-- End Col -->

        <div class="col-sm-4 col-lg-3">
          <div class="text-center">
            <h2 class="display-4">85%</h2>
            <p class="small">Happy Customers</p>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Feature Stats -->

    <div class="border-top mx-auto" style="max-width: 25rem;"></div>

    <!-- Info -->
    <div class="container content-space-2 content-space-lg-3">
      <div class="row justify-content-lg-between">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h2>Tools should adapt to the user, not the other way around.</h2>
        </div>
        <!-- End Col -->

        <div class="col-lg-6">
          <p>Since 2007, we have helped 25 companies launch over 1000 amazing products. We believe the best digital solutions are created at the intersection of business strategy, existing technology, and real user needs.</p>
          <p>Everything can get really complicated, really fast, and a practical, synthetic, and clear vision is essential to creating something that is ultimately meant to be used. Emotions also play a significant role, and creating a clear and beautiful aesthetic to create a pleasant environment where the user truly enjoys the time spent is of high importance. Ultimately, we all crave beautiful things that just work.</p>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Info -->

    <div class="border-top mx-auto" style="max-width: 25rem;"></div>

    <!-- Team -->
    <div class="container content-space-2 content-space-lg-3">
      <!-- Heading -->
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <span class="text-cap">Our Team</span>
        <h2>Creative Minds</h2>
      </div>
      <!-- End Heading -->

      <div class="row gx-3 mb-5">
        <div class="col-sm-6 col-lg-3 mb-3">
          <!-- Card -->
          <div class="card card-transition h-100">
            <div class="card-body">
              <div class="avatar avatar-lg avatar-circle mb-4">
                <img class="avatar-img" src="{% static 'img/160x160/img7.jpg' %}" alt="Image Description">
              </div>
              <span class="card-subtitle">Founder / CEO</span>
              <h4 class="card-title">Christina Curry</h4>
              <p class="card-text">I am an ambitious workaholic, but apart from that, quite simple.</p>
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-3 mb-3">
          <div class="card card-transition h-100">
            <div class="card-body">
              <div class="avatar avatar-lg avatar-circle mb-4">
                <img class="avatar-img" src="{% static 'img/160x160/img3.jpg' %}" alt="Image Description">
              </div>
              <span class="card-subtitle">Project Manager</span>
              <h4 class="card-title">Jeff Fisher</h4>
              <p class="card-text">I am an ambitious workaholic, but apart from that, quite simple.</p>
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-3 mb-3">
          <div class="card card-transition h-100">
            <div class="card-body">
              <div class="avatar avatar-lg avatar-circle mb-4">
                <img class="avatar-img" src="{% static 'img/160x160/img10.jpg' %}" alt="Image Description">
              </div>
              <span class="card-subtitle">Product Designer</span>
              <h4 class="card-title">Amy Thorn</h4>
              <p class="card-text">I am an ambitious workaholic, but apart from that, quite simple.</p>
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Team -->
{% endblock %}
