{% extends "base.html" %}
{% load static %}
{% load shop_tags %}
{% block content %}
<!-- Hero -->
<div class="position-relative">
  <!-- Swiper Main Slider -->
  <div class="js-swiper-shop-classic-hero swiper bg-light">
    <div class="swiper-wrapper">
      <!-- Slide -->
      <div class="swiper-slide">
        <!-- Container -->
        <div class="container content-space-t-2 content-space-b-3">
          <div class="row align-items-lg-center">
            <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
              <div class="mb-6">
                <h1 class="display-4 mb-4">Front Original Design Cap</h1>
                <p>
                  In addition to revolutionizing technical innovations, Front also offers some of the best-selling caps on its shelf.
                </p>
              </div>
            
              <div class="d-flex gap-2">
                <a class="btn btn-primary rounded-pill" href="#">
                  View Product Details
                </a>
              </div>
            </div>
            
            <!-- End Col -->

            <div class="col-lg-6 order-lg-1">
              <div class="w-75 mx-auto">
                <img
                  class="img-fluid"
                  src="{% static 'img/mockups/img5.png' %}"
                  alt="Image Description"
                />
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Container -->
      </div>
      <!-- End Slide -->

      <!-- Slide -->
      <div class="swiper-slide">
        <!-- Container -->
        <div class="container content-space-t-2 content-space-b-3">
          <div class="row align-items-lg-center">
            <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
              <div class="mb-6">
                <h2 class="display-4 mb-4">Apple iPad Pro</h2>
                <p>
                  All-new, all-screen, and all-powerful. Completely redesigned and packed with our most advanced technology, it makes you rethink what your iPad is capable of.
                </p>
              </div>
            
              <div class="d-flex gap-2">
                <a class="btn btn-primary rounded-pill" href="#">
                  View Product Details
                </a>
              </div>
            </div>
            
            <!-- End Col -->

            <div class="col-lg-6 order-lg-1">
              <div class="w-75 mx-auto">
                <img
                  class="img-fluid"
                  src="{% static 'img/mockups/img6.png' %}"
                  alt="Image Description"
                />
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Container -->
      </div>
      <!-- End Slide -->

      <!-- Slide -->
      <div class="swiper-slide">
        <!-- Container -->
        <div class="container content-space-t-2 content-space-b-3">
          <div class="row align-items-lg-center">
            <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
              <div class="mb-6">
                <h3 class="display-4 mb-4">Celio Hoodie</h3>
                <p>
                  Founded in 1985, the French label Celio brings 30 years of expertise to its contemporary menswear range. Expect effortlessly stylish jeans, chinos, and printed shirts perfect for both city and beach vibes.
                </p>
              </div>
            
              <div class="d-flex gap-2">
                <a class="btn btn-primary rounded-pill" href="#">
                  View Product Details
                </a>
              </div>
            </div>
            
            <!-- End Col -->

            <div class="col-lg-6 order-lg-1">
              <div class="w-75 mx-auto">
                <img
                  class="img-fluid"
                  src="{% static 'img/mockups/img1.png' %}"
                  alt="Image Description"
                />
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Container -->
      </div>
      <!-- End Slide -->
    </div>

    <!-- Arrows -->
    <div
      class="js-swiper-shop-classic-hero-button-prev swiper-button-prev"
    ></div>
    <div
      class="js-swiper-shop-classic-hero-button-next swiper-button-next"
    ></div>
  </div>
  <!-- End Swiper Main Slider -->

  <!-- Swiper Thumbs Slider -->
  <div class="position-absolute bottom-0 start-0 end-0 mb-3">
    <div class="js-swiper-shop-hero-thumbs swiper" style="max-width: 13rem">
      <div class="swiper-wrapper">
        <!-- Slide -->
        <div class="swiper-slide">
          <a
            class="js-swiper-thumb-progress swiper-thumb-progress-avatar"
            href="javascript:;"
            tabindex="0"
          >
            <img
              class="swiper-thumb-progress-avatar-img"
              src="{% static 'img/160x160/img11.jpg' %}"
              alt="Image Description"
            />
          </a>
        </div>
        <!-- End Slide -->

        <!-- Slide -->
        <div class="swiper-slide">
          <a
            class="js-swiper-thumb-progress swiper-thumb-progress-avatar"
            href="javascript:;"
            tabindex="0"
          >
            <img
              class="swiper-thumb-progress-avatar-img"
              src="{% static 'img/160x160/img14.jpg' %}"
              alt="Image Description"
            />
          </a>
        </div>
        <!-- End Slide -->

        <!-- Slide -->
        <div class="swiper-slide">
          <a
            class="js-swiper-thumb-progress swiper-thumb-progress-avatar"
            href="javascript:;"
            tabindex="0"
          >
            <img
              class="swiper-thumb-progress-avatar-img"
              src="{% static 'img/160x160/img15.jpg' %}"
              alt="Image Description"
            />
          </a>
        </div>
        <!-- End Slide -->
      </div>
    </div>
  </div>
  <!-- End Swiper Thumbs Slider -->
</div>
<!-- End Hero -->

<!-- Icon Blocks -->
<div class="border-bottom">
  <div class="container content-space-2">
    <div class="row">
      <div class="col-md-4 mb-7 mb-md-0">
        <!-- Icon Block -->
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img
              class="ps-2 avatar avatar-4x3"
              src="{% static 'svg/illustrations/oc-protected-card.svg' %}"
              alt="Image Description"
            />
          </div>
          <div class="flex-grow-1 ms-4">
            <h4 class="mb-1">Secure Checkout</h4>
            <p class="small mb-0">Guaranteed safe checkout</p>
          </div>
          
        </div>
        <!-- End Icon Block -->
      </div>
      <!-- End Col -->

      <div class="col-md-4 mb-7 mb-md-0">
        <!-- Icon Block -->
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img
              class="ps-2 avatar avatar-4x3"
              src="{% static 'svg/illustrations/oc-return.svg' %}"
              alt="Image Description"
            />
          </div>
          <div class="flex-grow-1 ms-4">
            <h4 class="mb-1">30-Day Return</h4>
            <p class="small mb-0">
              We offer you a full refund within 30 days of purchase.
            </p>
          </div>
          
        </div>
        <!-- End Icon Block -->
      </div>
      <!-- End Col -->

      <div class="col-md-4">
        <!-- Icon Block -->
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img
              class="ps-2 avatar avatar-4x3"
              src="{% static 'svg/illustrations/oc-truck.svg' %}"
              alt="Image Description"
            />
          </div>
          <div class="flex-grow-1 ms-4">
            <h4 class="mb-1">Free Shipping</h4>
            <p class="small mb-0">
              Receive free standard shipping automatically on every order.
            </p>
          </div>
          
        </div>
        <!-- End Icon Block -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
</div>
<!-- End Icon Blocks -->

<!-- Card Grid -->
<div class="container content-space-2 content-space-lg-3">
  <!-- Heading -->
  <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
    <h2>Buy the Best Products in the Store</h2>

  </div>
  <!-- End Heading -->
  <div class="row mb-2">
    {% popular_product "Samsung" %}
    {% popular_product "Iphone" %}
    {% popular_product "Pixle" %}
    <!-- End Col -->
  </div>
  <!-- End Row -->

  <div class="text-center">
    <p class="small">Special sale on products for a limited time</p>

  </div>
</div>
<!-- End Card Grid -->

<!-- Card Grid -->
<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">
      <!-- Card -->
      <div
        class="card card-lg bg-img-start"
        style="
          background-image: url({% static 'img/900x900/img3.jpg' %});
          min-height: 30rem;
        "
      >
        <div class="card-body">
          <span class="card-subtitle text-danger">Limited Time Only</span>
          <h2 class="card-title display-4">70% OFF</h2>

          <div class="w-md-65">
            <!-- Countdown -->
            <div class="js-countdown row mb-5">
              <div class="col-4 text-center">
                <div class="border border-dark rounded-2 p-2 mb-1">
                  <span class="js-cd-days h2"></span>
                </div>
                <h5 class="card-title">Days</h5>
              </div>
              <!-- End Col -->

              <div class="col-4 text-center">
                <div class="border border-dark rounded-2 p-2 mb-1">
                  <span class="js-cd-hours h2"></span>
                </div>
                <h5 class="card-title">Hours</h5>
              </div>
              <!-- End Col -->

              <div class="col-4 text-center">
                <div class="border border-dark rounded-2 p-2 mb-1">
                  <span class="js-cd-minutes h2"></span>
                </div>
                <h5 class="card-title">Minutes</h5>
              </div>
              <!-- End Col -->

              <div class="col-4 d-none text-center">
                <div class="border border-dark rounded-2 p-2 mb-1">
                  <span class="js-cd-seconds h2"></span>
                </div>
                <h5 class="card-title">Seconds</h5>
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>

          <a
            class="btn btn-light btn-sm btn-transition rounded-pill px-6"
            href="#"
            >Shop Now</a
          >
        </div>
      </div>
      <!-- End Card -->
    </div>

    <div class="col-md-6">
      <!-- Card -->
      <div
        class="card card-lg bg-img-start"
        style="
          background-image: url({% static 'img/900x900/img4.jpg' %});
          min-height: 30rem;
        "
      >
        <div class="card-body">
          <div class="mb-4">
            <h2 class="card-title text-white">ksh 30109.99</h2>
            <h3 class="card-title text-white">Nakto 26 Bike</h3>
            <p class="card-text text-white">
              NAKTO bikes are designed to save the environment and bring fun to our friends!
            </p>
          </div>

          <a
            class="btn btn-light btn-sm btn-transition rounded-pill px-6"
            href="#"
            >Shop Now</a
          >
        </div>
      </div>
      <!-- End Card -->
    </div>
  </div>
</div>
<!-- End Card Grid -->

{% show_latest_products %}

<!-- Subscribe -->
<div class="bg-light">
  <div class="container content-space-2">
    <div class="w-md-75 w-lg-50 text-center mx-md-auto">
      <div class="row justify-content-lg-between">
        <!-- Heading -->
        <div class="mb-5">
          <span class="text-cap">Subscribe</span>
          <h2>Get the Latest News</h2>
        </div>
        <!-- End Heading -->

        <form>
          <!-- Input Card -->
          <div class="input-card input-card-pill input-card-sm border mb-3">
            <div class="input-card-form">
              <label for="subscribeForm" class="form-label visually-hidden">
                Enter your email
              </label>
              <input
                type="text"
                class="form-control form-control-lg"
                id="subscribeForm"
                placeholder="Enter your email"
                aria-label="Enter your email"
              />
            </div>
            <button type="button" class="btn btn-primary btn-lg rounded-pill">
              Subscribe
            </button>
          </div>
          <!-- End Input Card -->
        </form>

        <p class="small">
          You can unsubscribe at any time.
          <a href="#">Read our Privacy Policy</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Subscribe -->


<!-- Clients -->
<div class="container content-space-2">
  <div class="row">
    <div class="col text-center py-3">
      <img
        class="avatar avatar-lg avatar-4x3"
        src="{% static 'svg/brands/hollister-dark.svg' %}"
        alt="Logo"
      />
    </div>
    <!-- End Col -->

    <div class="col text-center py-3">
      <img
        class="avatar avatar-lg avatar-4x3"
        src="{% static 'svg/brands/levis-dark.svg' %}"
        alt="Logo"
      />
    </div>
    <!-- End Col -->

    <div class="col text-center py-3">
      <img
        class="avatar avatar-lg avatar-4x3"
        src="{% static 'svg/brands/new-balance-dark.svg' %}"
        alt="Logo"
      />
    </div>
    <!-- End Col -->

    <div class="col text-center py-3">
      <img
        class="avatar avatar-lg avatar-4x3"
        src="{% static 'svg/brands/puma-dark.svg' %}"
        alt="Logo"
      />
    </div>
    <!-- End Col -->

    <div class="col text-center py-3">
      <img
        class="avatar avatar-lg avatar-4x3"
        src="{% static 'svg/brands/nike-dark.svg' %}"
        alt="Logo"
      />
    </div>
    <!-- End Col -->

    <div class="col text-center py-3">
      <img
        class="avatar avatar-lg avatar-4x3"
        src="{% static 'svg/brands/tnf-dark.svg' %}"
        alt="Logo"
      />
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<!-- End Clients -->
{% endblock content %}

{% block extera-js %}
<script>
  function addProd(product_id) {
    $.ajax({
    type: "POST",
    url: "{% url 'cart:add-prod' %}",
    data: {
      'product_id': product_id,
      csrfmiddlewaretoken: '{{ csrf_token }}',
    },
    success: function(response){
      $('#cart-item-count').html(response.total_quantity)
      console.log(response)
    },
    error: function(jqXHR,textStatus,errorThrown) {
      console.log(response)
    }
  });
  }
  </script>
{% endblock extera-js %}