{% extends "base.html" %}
{% load static %}

{% block content %}
      <!-- Content -->
      <div class="container content-space-2 content-space-lg-3">
        <div class="w-md-75 w-lg-50 text-center mx-md-auto">
          <div class="mb-5">
            <img class="img-fluid" src="{% static 'svg/illustrations/oc-hi-five.svg' %}" alt="Image Description" style="width: 15rem;">
          </div>
  
          <div class="mb-5">
            <h1 class="h2">Your order is complete!</h1>
            <p>Thank you for your order! Your order is being processed and will be completed within 3 to 6 hours. You will receive a confirmation email once your order is completed.</p>
          </div>
  
          <a class="btn btn-primary btn-transition rounded-pill px-6" href="{% url 'shop:list_grid' %}">Continue Shopping</a>
        </div>
      </div>
      <!-- End Content -->
{% endblock content %}
